html {
    background-color: #F0F0F0;
}

body {
    width: 85%;
    margin-left: 5%;
    margin-right: auto;
    font-family: Gill Sans, sans-serif;
    font-size: 1.2em;
    color: #404040;
    background-color: white;
    padding: 10px;
    padding-top: 0px;
    display: inline-block;
}

a {
    color: #3AA6D0;
    text-decoration: none;
}

/* H TAGS */

h1 {
    font-size: 3em;
    color: FF2C00;
}

h1.toptitle {
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    color: #FF8500;
}

h3 {
    font-size: 1.2em;
    color: #00B945;
}

/* ASIDE */

main {
    float: left;
    width: 600px;
    margin-left: 10px;
}

aside {
    float: left;
    width: 320px;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: #D0D0D0;
    padding: 5px;
    border: 1px solid #A8A8A8;
}

aside h1 {
    font-size: 1.2em;
    margin-top: 0px;
}

aside h2 {
    font-size: 1em;
}

aside div {
    padding: 5px;
    background-color: #F0F0F0;
    margin-bottom: 15px;
}

aside ul {
    line-height: 1.8em;
    list-style-type: square;
    color: #FF8500;
}

header {
    margin-bottom: 40px;
}

/* NAV */

nav {
    text-align: center;
    margin-top: 0;
}

nav h1 {
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    font-weight: bold;
    color: #0776A0;
}

nav hr {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    background-color: #63DC90;
    color: #63DC90;
    height: 3px;
    border: 3px;
}

footer {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

img.top-image {
    height: 50px;
    float: left;
    margin-top: 10px;
    margin-right: 30px;
}

.quote p {
    font-style: italic;
}

ul.body-list {
    list-style-position: inside;
    list-style-image: url('../images/small_arrow.png');
    line-height: 1.8em;
}

section.block {
    display: block;
    float: left;
    width: 100%;
    background-color: #000;
    color: #FFF;
    padding: 5px;
    border: 1px solid #A8A8A8;
}
/* section.message-pair {
    width: 100%;
    background-color: whitesmoke;
    padding: 5px;
    border: 0px;
    margin-bottom: 10px;
    border-radius: 25px;
} */

p.bot {
    width: 40%;
    float: left;
    background-color: #bbbbee;
    padding: 10px;
    border: 0px;
    margin-right:50%;
    margin-bottom: 10px;
    border-radius: 25px;
    text-align:left;
}

p.user {
    width: 40%;
    float:right;
    background-color: lightblue;
    padding: 10px;
    border: 0px;
    margin-left:50%;
    margin-bottom: 10px;
    border-radius: 25px;
    text-align:right;
}
